@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

h2 {
  font-family: "sofia-pro-reg";
}
p {
  font-family: "sofia-pro-light";
}
body {
  font-family: "sofia-pro-light", serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}
@font-face {
  font-family: "sofia-pro-reg";
  src: url(../public/fonts/Sofia\ Pro\ Regular\ Az.woff);
}
@font-face {
  font-family: "sofia-pro-light";
  src: url(../public/fonts/Sofia\ Pro\ UltraLight\ Az.woff);
}

.custom-top-gradient::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 30%;
  background: linear-gradient(to top, rgba(106, 124, 137, 0), #6a7c89);
}

.custom-bottom-gradient::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 30%;
  z-index: 10;

  background: linear-gradient(0deg, rgba(237, 236, 233, 0), #edece9 100%);
}
